<div class="toolbar" role="banner">
  <img src="/assets/logo_white.png" alt="logo" />
</div>

<div class="content" role="main">
  <h2>Products</h2>
  <form class="container" [formGroup]="form" (change)="onFormChange()">
    <div class="filter">
      <label for="search">Search</label>
      <input #searchBox id="search" type="text" formControlName="term" (input)="onFormChange()"/>
    </div>
    <div class="filter">
      <label for="brands">Brands</label>
      <select id="brands" formControlName="brand">
        <!-- <option value="all" selected>All</option> -->
        <option *ngFor="let brand of brandList" [ngValue]="brand">{{ brand }}</option>
      </select>
    </div>
    <div class="filter">
      <label for="all">All</label>
      <input type="radio" id="all" name="stock" value="all" formControlName="stock" checked>
      <label for="in-stock">In stock</label>
      <input type="radio" id="in-stock" name="stock" value="in-stock" formControlName="stock">
      <label for="out-of-stock">Out of stock</label>
      <input type="radio" id="out-of-stock" name="stock" value="out-of-stock" formControlName="stock">
    </div>
  </form>

  <div class="container">
    <products-table [products]="products$">
    </products-table>
  </div>
</div>
